<div class="graph-container">
  <nav>
    <div class="graph-header">
      Djikstra Pathfinding Visualization
    </div>
  </nav>
  <div>
    <button (click)="start()">Start</button>
    <button (click)="reset()">Reset</button>
  </div>
  <div class="graph-legend">
    <div class="graph-legend-entry">
      <div class="node start-node"></div>
      <div>Start node (drag to place)</div>
    </div>
    <div class="graph-legend-entry">
      <div class="node end-node"></div>
      <div>End node (drag to place)</div>
    </div>
    <div class="graph-legend-entry">
      <div class="node wall"></div>
      <div>Wall (click/drag to toggle)</div>
    </div>
    <div class="graph-legend-entry">
      <div class="node visited-legend"></div>
      <div>Visited</div>
    </div>
    <div class="graph-legend-entry">
      <div class="node in-path"></div>
      <div>Shortest path</div>
    </div>
  </div>
  <div class="graph-wrapper" (mousedown)="mouseEvent($event)" (mouseup)="mouseEvent($event)">
    <div class="graph-row" *ngFor="let row of [].constructor(numRows); let i = index">
      <div class="graph-col" *ngFor="let col of [].constructor(numCols); let j = index">
        <app-node #nodeComponents [node]="nodes[i][j]" (dropped)="drop($event)"></app-node>
      </div>
    </div>
  </div>
</div>